* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color_squares {
  display: flex;
  gap: 15px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#pink {
  background-color: pink;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}
